@-moz-document url(chrome://browser/content/browser.xhtml) {
	#navigator-toolbox::after { border: none; }
	#tabbrowser-tabs, .tab-stack { min-height: 28px !important; }
	.tabbrowser-tab { font-size: 90%; }
	.tab-close-button .toolbarbutton-icon { width: 12px !important; height: 12px !important; }
}
